@import url("https://fonts.googleapis.com/css?family=Abel");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #f9f8f6; }

#header {
  max-width: 940px;
  margin: auto; }
  #header .logp_and_navi {
    display: flex;
    justify-content: space-between; }
    #header .logp_and_navi .header_logo {
      padding-top: 40px; }
    #header .logp_and_navi .header_navi ul {
      display: flex;
      justify-content: space-between;
      padding-top: 65px;
      padding-bottom: 30px; }
      #header .logp_and_navi .header_navi ul li {
        padding-left: 25px; }
    #header .logp_and_navi .header_navi_sp {
      display: none; }

@media (max-width: 768px) {
  #header .logp_and_navi {
    display: block; }
    #header .logp_and_navi .header_logo {
      text-align: center;
      padding: 15px 0; }
    #header .logp_and_navi .header_navi {
      display: none; }
    #header .logp_and_navi .header_navi_sp {
      display: block;
      display: flex;
      justify-content: center;
      padding-bottom: 12px; }
      #header .logp_and_navi .header_navi_sp .instagram_sp {
        padding: 0 20px; }
      #header .logp_and_navi .header_navi_sp .hamburger_navi_sp .hamburger_hover {
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        border: 1px solid #eee;
        background: #ff6d77;
        z-index: 100;
        width: 100vw;
        padding-top: 15px; }
        #header .logp_and_navi .header_navi_sp .hamburger_navi_sp .hamburger_hover li {
          padding: 10px 8px;
          border-bottom: 1px solid #eee;
          color: #FFF;
          width: 92%;
          margin: 0 auto; }
        #header .logp_and_navi .header_navi_sp .hamburger_navi_sp .hamburger_hover li:last-child {
          border-bottom: none;
          padding-bottom: 30px; } }
main {
  max-width: 940px;
  margin: auto;
  display: flex;
  justify-content: space-between; }
  main .main_column {
    width: 74%; }
    main .main_column .cover_area {
      padding-bottom: 30px; }
      main .main_column .cover_area img {
        width: 100%; }
    main .main_column .new_items .title_new_item_sp {
      display: none; }
    main .main_column .new_items .title_new_item_pc img {
      width: 100%; }
    main .main_column .new_items .flex_new_items {
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      main .main_column .new_items .flex_new_items .content_item {
        padding: 12px;
        margin: 1px;
        background-color: #ffffff;
        width: calc(100% / 3 - 2px); }
        main .main_column .new_items .flex_new_items .content_item a {
          text-decoration: none;
          color: BLACK; }
          main .main_column .new_items .flex_new_items .content_item a img {
            width: 100%; }
          main .main_column .new_items .flex_new_items .content_item a p {
            padding-bottom: 10px;
            font-size: 12px;
            line-height: 1.5; }
  main .popular_items .title_popular_sp {
    display: none; }
  main .popular_items .flex_popular_items {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    main .popular_items .flex_popular_items .content_item {
      padding: 12px;
      margin: 1px;
      background-color: #ffffff;
      width: calc(100% / 3 - 2px); }
      main .popular_items .flex_popular_items .content_item a {
        text-decoration: none;
        color: BLACK; }
        main .popular_items .flex_popular_items .content_item a img {
          width: 100%; }
        main .popular_items .flex_popular_items .content_item a p {
          padding-bottom: 10px;
          font-size: 12px;
          line-height: 1.5; }
  main .shopping_guide {
    margin-bottom: 20px; }
    main .shopping_guide .title_guide_sp {
      display: none; }
    main .shopping_guide .delivery_and_settlement {
      padding: 30px 0;
      display: flex;
      justify-content: space-between; }
      main .shopping_guide .delivery_and_settlement .delivery {
        background-color: #ffffff;
        width: 49.5%; }
        main .shopping_guide .delivery_and_settlement .delivery .delivery_margin {
          width: 90%;
          margin: 0 auto;
          padding-top: 20px;
          padding-bottom: 30px; }
          main .shopping_guide .delivery_and_settlement .delivery .delivery_margin h2 {
            color: #887f69;
            font-weight: bold;
            font-size: 16px;
            padding-bottom: 20px; }
          main .shopping_guide .delivery_and_settlement .delivery .delivery_margin p {
            font-size: 12px;
            padding-bottom: 4px; }
            main .shopping_guide .delivery_and_settlement .delivery .delivery_margin p img {
              width: 60%; }
          main .shopping_guide .delivery_and_settlement .delivery .delivery_margin p:last-child {
            padding-bottom: 0; }
          main .shopping_guide .delivery_and_settlement .delivery .delivery_margin .color_keyColor {
            color: #887f69;
            font-weight: bold;
            padding-top: 17px;
            padding-bottom: 12px; }
      main .shopping_guide .delivery_and_settlement .settlement {
        background-color: #ffffff;
        width: 49.5%; }
        main .shopping_guide .delivery_and_settlement .settlement .settlement_margin {
          width: 90%;
          margin: 0 auto;
          padding-top: 20px;
          padding-bottom: 30px; }
          main .shopping_guide .delivery_and_settlement .settlement .settlement_margin h2 {
            color: #887f69;
            font-weight: bold;
            font-size: 16px;
            padding-bottom: 17px; }
          main .shopping_guide .delivery_and_settlement .settlement .settlement_margin p {
            font-size: 12px;
            line-height: 1.5; }
          main .shopping_guide .delivery_and_settlement .settlement .settlement_margin .settlement_text {
            padding-top: 8px;
            padding-bottom: 10px; }
          main .shopping_guide .delivery_and_settlement .settlement .settlement_margin .cards_img {
            padding: 10px 0; }
            main .shopping_guide .delivery_and_settlement .settlement .settlement_margin .cards_img img {
              width: 100%; }
          main .shopping_guide .delivery_and_settlement .settlement .settlement_margin p:last-child {
            padding-bottom: 0; }
          main .shopping_guide .delivery_and_settlement .settlement .settlement_margin .color_keyColor {
            color: #887f69;
            font-weight: bold; }

.sub_column {
  width: 23%; }
  .sub_column .item_search {
    background-color: #ffffff;
    margin-bottom: 5px; }
    .sub_column .item_search .item_search_logo {
      width: 81.81%;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 6px; }
    .sub_column .item_search .input_and_icon {
      display: flex;
      width: 81.81%;
      margin: 0 auto;
      padding-bottom: 10px; }
      .sub_column .item_search .input_and_icon input {
        background-color: #eeeeee;
        width: 100%;
        padding: 5px 0; }
      .sub_column .item_search .input_and_icon .search_icon {
        background-color: #eeeeee;
        margin: auto 0;
        padding: 5px 0; }
  .sub_column .page_link {
    display: flex;
    justify-content: space-between;
    background-color: #887f69;
    padding: 10px;
    margin-bottom: 5px; }
  .sub_column .categories {
    margin-bottom: 5px; }
    .sub_column .categories .categories_top {
      display: flex;
      justify-content: space-between;
      background-color: #887f69;
      padding: 10px; }
    .sub_column .categories .categories_under {
      display: flex;
      justify-content: space-between;
      background-color: #ffffff;
      padding: 10px;
      margin-bottom: 2px; }
      .sub_column .categories .categories_under p {
        font-size: 12px; }
        .sub_column .categories .categories_under p a {
          text-decoration: none;
          color: BLACK; }
  .sub_column .about {
    background-color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 5px; }
    .sub_column .about .about_logo {
      background-color: #887f69;
      padding: 10px; }
    .sub_column .about .about_margin {
      width: 89%;
      margin: 0 auto; }
      .sub_column .about .about_margin .about_img {
        margin: 10px 0; }
        .sub_column .about .about_margin .about_img img {
          width: 100%; }
      .sub_column .about .about_margin .p_and_btn {
        margin: auto 0; }
        .sub_column .about .about_margin .p_and_btn p {
          margin: 10px 0;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 0.05em; }
        .sub_column .about .about_margin .p_and_btn .more_btn {
          text-align: center;
          margin: 15px 0; }
  .sub_column .shop_info {
    background-color: #ffffff;
    padding-bottom: 10px; }
    .sub_column .shop_info .shop_info_logo {
      background-color: #887f69;
      padding: 10px; }
    .sub_column .shop_info .shop_info_margin {
      width: 89%;
      margin: 0 auto; }
      .sub_column .shop_info .shop_info_margin .shop_info_img {
        margin: 10px 0; }
        .sub_column .shop_info .shop_info_margin .shop_info_img img {
          width: 100%; }
      .sub_column .shop_info .shop_info_margin .p_and_btn {
        margin: auto 0; }
        .sub_column .shop_info .shop_info_margin .p_and_btn p {
          margin: 10px 0;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 0.05em; }
        .sub_column .shop_info .shop_info_margin .p_and_btn .more_btn {
          text-align: center;
          margin: 15px 0; }

@media (max-width: 768px) {
  main {
    width: 92%;
    display: block; }
    main .main_column {
      width: 100%; }
      main .main_column .cover_area {
        padding-bottom: 15px; }
      main .main_column .new_items .title_new_item_pc {
        display: none; }
      main .main_column .new_items .title_new_item_sp {
        display: block;
        text-align: center; }
      main .main_column .new_items .flex_new_items {
        padding: 15px 0; }
        main .main_column .new_items .flex_new_items .content_item {
          padding: 9px;
          width: calc(100% / 2 - 2px); }
          main .main_column .new_items .flex_new_items .content_item img {
            width: 100%; }
      main .main_column .popular_items .title_popular_pc {
        display: none; }
      main .main_column .popular_items .title_popular_sp {
        display: block;
        text-align: center; }
      main .main_column .popular_items .flex_popular_items {
        padding: 15px 0; }
        main .main_column .popular_items .flex_popular_items .content_item {
          padding: 9px;
          width: calc(100% / 2 - 2px); }
          main .main_column .popular_items .flex_popular_items .content_item img {
            width: 100%; }
      main .main_column .shopping_guide .title_guide_pc {
        display: none; }
      main .main_column .shopping_guide .title_guide_sp {
        display: block;
        text-align: center;
        padding-bottom: 5px; }
      main .main_column .shopping_guide .delivery_and_settlement {
        display: block;
        padding-bottom: 10px; }
        main .main_column .shopping_guide .delivery_and_settlement .delivery {
          width: 100%;
          padding: 0;
          margin: 10px 0; }
          main .main_column .shopping_guide .delivery_and_settlement .delivery .delivery_margin p {
            font-size: 13px; }
        main .main_column .shopping_guide .delivery_and_settlement .settlement {
          width: 100%;
          padding: 0;
          margin: 10px 0; }
          main .main_column .shopping_guide .delivery_and_settlement .settlement .settlement_margin p {
            font-size: 13px; }
    main .sub_column {
      width: 100%; }
      main .sub_column .item_search .item_search_logo {
        display: none; }
      main .sub_column .item_search .input_and_icon {
        width: 90%;
        margin: auto auto;
        padding-top: 20px; }
      main .sub_column .about .about_margin {
        width: 93.33%; }
        main .sub_column .about .about_margin .flex_about {
          display: flex;
          justify-content: space-between; }
          main .sub_column .about .about_margin .flex_about .about_img {
            width: calc(100% / 2 - 10px); }
            main .sub_column .about .about_margin .flex_about .about_img img {
              width: 100%; }
          main .sub_column .about .about_margin .flex_about .p_and_btn {
            width: calc(100% / 2 + 2px); }
            main .sub_column .about .about_margin .flex_about .p_and_btn .more_btn {
              margin: 5px;
              text-align: left; }
      main .sub_column .shop_info .shop_info_margin {
        width: 93.33%; }
        main .sub_column .shop_info .shop_info_margin .flex_shop_info {
          display: flex;
          justify-content: space-between; }
          main .sub_column .shop_info .shop_info_margin .flex_shop_info .shop_info_img {
            width: calc(100% / 2 - 10px); }
            main .sub_column .shop_info .shop_info_margin .flex_shop_info .shop_info_img img {
              width: 100%; }
          main .sub_column .shop_info .shop_info_margin .flex_shop_info .p_and_btn {
            width: calc(100% / 2 + 2px); }
            main .sub_column .shop_info .shop_info_margin .flex_shop_info .p_and_btn .more_btn {
              margin: 5px;
              text-align: left; } }
#footer {
  max-width: 940px;
  margin: auto; }
  #footer .page_top {
    text-align: right;
    border-bottom: 1px solid #887f69;
    padding-bottom: 20px;
    width: 100%; }
  #footer ul {
    display: flex;
    justify-content: center;
    padding: 30px; }
    #footer ul li {
      padding: 0 7px;
      font-size: 12px; }
  #footer p {
    text-align: center;
    margin-bottom: 50px;
    color: #b8b4ac;
    font-size: 10px; }

@media (max-width: 768px) {
  #footer {
    width: 92%;
    margin-top: 30px; }
    #footer .page_top {
      text-align: center; }
    #footer ul {
      flex-wrap: wrap;
      padding-bottom: 10px; }
      #footer ul li {
        font-size: 10px;
        padding: 2px; }
    #footer p {
      font-size: 10px; } }
main .main_column .breadcrumbs_list {
  background-color: #e8e4da;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px; }
  main .main_column .breadcrumbs_list ul {
    display: flex; }
    main .main_column .breadcrumbs_list ul li {
      color: #887f69;
      padding-right: 10px;
      font-size: 12px; }
main .main_column .product {
  background-color: #ffffff;
  padding-bottom: 100px; }
  main .main_column .product .name_and_number {
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e4da; }
    main .main_column .product .name_and_number .product_name {
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.05em; }
    main .main_column .product .name_and_number .product_number {
      color: #a6a6a6;
      font-size: 10px; }
  main .main_column .product .product_picture {
    width: 83%;
    margin: 0 auto;
    padding: 20px 0; }
    main .main_column .product .product_picture .select_and_othres {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      main .main_column .product .product_picture .select_and_othres .product_select {
        width: calc(70% - 4px); }
        main .main_column .product .product_picture .select_and_othres .product_select img {
          width: 100%; }
      main .main_column .product .product_picture .select_and_othres .product_othres {
        width: calc(30% - 4px);
        display: flex;
        flex-wrap: wrap; }
        main .main_column .product .product_picture .select_and_othres .product_othres .flex_othres {
          width: calc(100% / 2 - 4px); }
          main .main_column .product .product_picture .select_and_othres .product_othres .flex_othres img {
            width: 100%;
            padding-left: 7px;
            padding-bottom: 7px; }
  main .main_column .product .color_size {
    width: 83%;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid #e8e4da; }
    main .main_column .product .color_size h2 {
      padding-bottom: 20px; }
    main .main_column .product .color_size table {
      width: 100%; }
      main .main_column .product .color_size table tr th {
        border: 1px solid #e8e4da;
        text-align: center;
        padding: 10px 0;
        color: #887f69;
        background-color: #f9f9f5;
        font-size: 12px; }
      main .main_column .product .color_size table tr td {
        border: 1px solid #e8e4da;
        text-align: center;
        padding: 10px 0;
        color: #887f69;
        font-size: 12px; }
  main .main_column .product .price_and_cart {
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    main .main_column .product .price_and_cart .price {
      width: 100%;
      display: flex;
      border-top: 1px solid #e8e4da;
      border-bottom: 1px solid #e8e4da;
      padding: 25px 0; }
      main .main_column .product .price_and_cart .price p {
        font-size: 12px;
        margin: 0 auto; }
        main .main_column .product .price_and_cart .price p .span_mark {
          color: #e80f66; }
        main .main_column .product .price_and_cart .price p .span_price {
          color: #e80f66;
          font-size: 15px;
          font-weight: bold; }
    main .main_column .product .price_and_cart .cart_pc {
      margin-left: 30px; }
  main .main_column .product .quantity_and_input {
    width: 83%;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #e8e4da;
    padding: 10px 0; }
    main .main_column .product .quantity_and_input h2 {
      margin: auto 0; }
    main .main_column .product .quantity_and_input input {
      border: 1px solid #e8e4da;
      padding: 10px 0;
      margin-left: 10%; }
  main .main_column .product .add_to_cart_sp .cart_sp {
    display: none; }
  main .main_column .product .product_description {
    width: 83%;
    margin: 0 auto; }
    main .main_column .product .product_description .description {
      padding-top: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid #887f69;
      color: #887f69;
      font-weight: bold;
      font-size: 16px; }
    main .main_column .product .product_description .description_title {
      padding: 20px 0;
      color: #887f69;
      font-weight: bold;
      font-size: 16px; }
    main .main_column .product .product_description p {
      padding-bottom: 25px;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.05em; }
    main .main_column .product .product_description table {
      width: 100%; }
      main .main_column .product .product_description table tr th {
        border: 1px solid #e8e4da;
        text-align: center;
        padding: 10px 40px;
        color: #887f69;
        background-color: #f9f9f5;
        font-size: 12px; }
      main .main_column .product .product_description table tr td {
        border: 1px solid #e8e4da;
        padding: 10px 10px;
        color: #887f69;
        font-size: 12px; }
main .main_column .recently_viewed {
  padding-bottom: 30px; }
  main .main_column .recently_viewed .recently_title_pc {
    padding: 30px 0; }
    main .main_column .recently_viewed .recently_title_pc img {
      width: 100%; }
  main .main_column .recently_viewed .recently_title_sp {
    display: none; }
  main .main_column .recently_viewed .flex_recently_viewed {
    display: flex;
    justify-content: space-between; }
    main .main_column .recently_viewed .flex_recently_viewed .recently_item {
      background-color: #ffffff;
      padding: 12.5px;
      margin: 1px;
      font-size: 14px;
      width: calc(100% / 3 - 2px); }
      main .main_column .recently_viewed .flex_recently_viewed .recently_item a {
        text-decoration: none;
        color: BLACK; }
        main .main_column .recently_viewed .flex_recently_viewed .recently_item a .picture_item img {
          width: 100%; }
        main .main_column .recently_viewed .flex_recently_viewed .recently_item a .item_txt {
          padding-top: 10px;
          padding-bottom: 20px;
          font-size: 12px;
          line-height: 1.5;
          letter-spacing: 0.05em; }
        main .main_column .recently_viewed .flex_recently_viewed .recently_item a .item_price {
          padding-bottom: 20px;
          font-size: 12px; }

@media (max-width: 768px) {
  main .main_column .breadcrumbs_list {
    margin-bottom: 10px;
    border-radius: 3px; }
  main .main_column .product {
    margin: 0 -10px;
    background-color: #ffffff;
    padding-bottom: 30px; }
    main .main_column .product .name_and_number {
      width: 90%;
      margin: auto;
      display: block;
      padding: 15px 0; }
      main .main_column .product .name_and_number .product_name {
        margin-bottom: 10px; }
    main .main_column .product .product_picture {
      width: 90%;
      margin: auto;
      padding: 10px 0; }
      main .main_column .product .product_picture .select_and_othres {
        display: block; }
        main .main_column .product .product_picture .select_and_othres .product_select {
          width: 100%; }
          main .main_column .product .product_picture .select_and_othres .product_select img {
            width: 100%; }
        main .main_column .product .product_picture .select_and_othres .product_othres {
          justify-content: space-between;
          width: 100%; }
          main .main_column .product .product_picture .select_and_othres .product_othres .flex_othres {
            width: calc(100% / 5 - 4px); }
            main .main_column .product .product_picture .select_and_othres .product_othres .flex_othres img {
              width: 100%;
              padding: 7px 0 0; }
    main .main_column .product .color_size {
      width: 90%;
      margin: auto; }
    main .main_column .product .price_and_cart {
      width: 90%;
      margin: auto;
      display: block; }
      main .main_column .product .price_and_cart .cart_pc {
        display: none; }
    main .main_column .product .quantity_and_input {
      width: 90%;
      margin: auto; }
      main .main_column .product .quantity_and_input input {
        margin: 0 auto; }
    main .main_column .product .add_to_cart_sp {
      width: 90%;
      margin: 0 auto; }
      main .main_column .product .add_to_cart_sp .cart_sp {
        display: block;
        text-align: center;
        margin-top: 20px; }
    main .main_column .product .product_description {
      width: 90%;
      margin: auto; }
      main .main_column .product .product_description table tr th {
        padding: 10px 0;
        width: 80px;
        vertical-align: middle; }
  main .main_column .recently_viewed {
    padding-bottom: 20px; }
    main .main_column .recently_viewed .recently_title_pc {
      display: none; }
    main .main_column .recently_viewed .recently_title_sp {
      display: block;
      text-align: center;
      padding: 20px 0; }
    main .main_column .recently_viewed .flex_recently_viewed {
      flex-wrap: wrap; }
      main .main_column .recently_viewed .flex_recently_viewed .recently_item {
        padding: 10px;
        width: calc(100% / 2 - 2px); }
        main .main_column .recently_viewed .flex_recently_viewed .recently_item a .item_txt {
          padding-top: 0;
          padding-bottom: 10px;
          font-size: 11px;
          letter-spacing: 0; }
        main .main_column .recently_viewed .flex_recently_viewed .recently_item a .item_price {
          padding-bottom: 5px;
          font-size: 11px; }
  main .main_column .shopping_guide .delivery_and_settlement {
    padding: 0; } }
main .list_cover_area {
  width: 100%; }
  main .list_cover_area .list_cover_pc {
    padding-top: 15px; }
    main .list_cover_area .list_cover_pc img {
      width: 100%; }
  main .list_cover_area .list_cover_sp {
    display: none; }
main .list_items .flex_list_items {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  main .list_items .flex_list_items .content_item {
    padding: 12px;
    margin: 1px;
    background-color: #ffffff;
    width: calc(100% / 3 - 2px); }
    main .list_items .flex_list_items .content_item a {
      text-decoration: none;
      color: BLACK; }
      main .list_items .flex_list_items .content_item a .picture_item img {
        width: 100%; }
      main .list_items .flex_list_items .content_item a p {
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.05em; }
main .back_and_next {
  display: flex;
  justify-content: space-between; }
  main .back_and_next .back {
    background-color: #887f69;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    padding: 15px 35px; }
  main .back_and_next .next {
    background-color: #887f69;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    padding: 15px 35px; }

@media (max-width: 768px) {
  main .list_cover_area .list_cover_pc {
    display: none; }
  main .list_cover_area .list_cover_sp {
    display: block; }
    main .list_cover_area .list_cover_sp img {
      width: 100%; }
  main .list_items .flex_list_items .content_item {
    padding: 9px;
    width: calc(100% / 2 - 2px); }
    main .list_items .flex_list_items .content_item a img {
      width: 100%; }
    main .list_items .flex_list_items .content_item a .item_txt {
      padding-bottom: 10px;
      font-size: 11px;
      letter-spacing: 0; }
    main .list_items .flex_list_items .content_item a .item_price {
      padding-bottom: 5px;
      font-size: 11px; }
  main .back_and_next .back {
    font-size: 14px;
    padding: 15px 40px; }
  main .back_and_next .next {
    font-size: 14px;
    padding: 15px 40px; } }

/*# sourceMappingURL=style.css.map */
