body{
	padding: 0;
	margin: 0;
}

/*リンク*/
a{
	color: #999966;
}
a:hover{
	color: #996600;
	opacity: 0.7;
}


.header .irastoya img{
	position: absolute;
	right: 150px;
	bottom: 550px;
	
}

.topicPath{
	padding: 30px 0 0 50px;
}

/*ページ*/
#page{
	width: 100%;
	margin: auto auto;
}

#page .header .nav ul li{
	width: 20%;
}

.validador img{
	max-width: 50%;
	display: block;
	margin: auto;
}

#pageBody .W3C-Accessibility-Validation{
	margin: 0 auto;
	text-align: center;
}

#pageBody .home{
	margin: 0 auto;
	text-align: center;
}

#pageBody .home ul li{
	list-style-type: none;
}

#pageBody .validador{
	margin: 0 auto;
	text-align: center;
}

#pageBody .validador .last-p{
	margin: 0 0 50px;
}

#pageBody .experiment{
	text-align: center;
}



.footer{
	border-top: solid 1px #cccccc;
	margin-top: 15px;
	/*clear: both;*/
}

/*グローバルナビ*/
.header .nav{
	border: solid #CCCCCC;
	border-width: 1px 0;
	padding: 10px 0;
}
.header .nav ul{
	padding: 0;
	margin: 0;
}
.header .nav ul:after{
	content: "";
	clear: both;
	display: block;
}
.header .nav ul li{
	list-style: none;
	width: 245px;
	float: left;
	border-left: solid 1px #CCCCCC;
	padding: 0 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 14px;
	line-height: 1.429;
}
.header .nav ul li:first-child{
	border-left: none;
}
.header .nav ul li a{
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 5px 0;
}
.header .nav ul li a:hover,
.header .nav ul li.current a{
	background-color: #F2F2E5;
}


/*表*/
table{
	font-size: 14px;
	line-height: 1.429;
	border: 1px solid #cccccc;
	border-collapse: collapse;
	width: 60%;
	margin: 40px auto;
}
table th,
table td{
	border: 1px solid #cccccc;
	padding: 5px 10px;
}
table th{
	background-color: #EEEEEE;
	text-align: left;
}

.consideration h1{
	text-align: center;
}

.consideration p{
	line-height: 1.5;
	font-size: 15px;
	padding: 15px;
	text-align: center;
}

.footer p{
	margin-left: 50px;
}

